body > div{
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
